<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.celad.applie4"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://com.celad.applie4/com.celad.applie4.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.celad.applie4/css/default.css">
         </property>
         <property
               name="appName"
               value="com.celad.applie4">
         </property>
      </product>
   </extension>

</plugin>
