.MTrimmedWindow.topLevel{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	backgroung-color: #FFF #000 50%
	}
	
Tree {
  /* actual values */
  backgroung-color: #FFF #999 50%
  background-image: none;
  color: #212121;
  font-family: "Droid Sans";
  font-size: 10;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  visibility: visible;
}
